.container {
  border-top: 1px solid var(--accent-6);
}

.colors {
  border-top: 1px solid var(--accent-6);
  border-bottom: 1px solid var(--accent-6);
}

.colors > :not(:last-child) {
  border-right: 1px solid var(--accent-6);
}

.square {
  height: var(--space-4);
}

.metadata > :not(:last-child) {
  border-bottom: 1px solid var(--accent-6);
}

/* xs */
@media (min-width: 520px) {
  .aside {
    border-left: 1px solid var(--accent-6);
  }
}
