body {
  margin: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

html.dark svg#logo {
  filter: invert(100%);
}

.radix-themes {
  --cursor-button: pointer;
}
